/* .dailyReport{
    width: 100vw;
}
.head{
    width: 100vw;
    background-color: #0D2D5E;
    display: flex;
    flex-direction: column;
    text-align: center;
} */
.dailyLogindata{
    width: 40vw;
}